div.backContainer{
  display: flex;
  flex: 1;
  border-width: 2px;
  justify-content: center;
  align-items: center;
  background-color:#00BFFF;
} 
div.back {
  padding: 15px 25px;
  background-color: lightcoral;
  text-decoration: none;
}   
div.container{
  display: flex;
  flex: 1;
  padding-bottom: 25px;
}
div.icon {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  background-color:#00BFFF;
}
div.title {
  justify-content: center;
  display: flex;
  flex: 4;
  background-color:#00BFFF;
  padding: 20px;
  font-size: 50px;
  color: ivory;
}
body{
  background-color: #7B68EE;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}