div.back {
  position: fixed;
  width: 80;
  height: 20px;
  bottom: 100px;
  top: 48px;
  left: 150px;
  right: 100px;
  font-size: 20px;
}   
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color:lightseagreen;
  padding: 20px;
  font-size: 50px;
  color: ivory;
}
a:link, a:visited, a:hover, a:active {
  background-color: lightcoral;
  padding: 15px 25px;
  display: incline-block;
  text-decoration: none;
}
body{
  background-color: #a5e0dd;
}
body center a {
  background-color: transparent !important
}
