div.backContainer{
  display: flex;
  flex: 1;
  border-width: 2px;
  justify-content: center;
  align-items: center;
  background-color:lightseagreen;
} 
div.back {
  padding: 15px 25px;
  background-color: lightcoral;
  text-decoration: none;
}   
div.container{
  display: flex;
  flex: 1;
  padding-bottom: 25px;
}
div.icon {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  background-color:lightseagreen;
}
div.title {
  justify-content: center;
  display: flex;
  flex: 4;
  background-color:lightseagreen;
  padding: 20px;
  font-size: 50px;
  color: ivory;
}
div.imageContainer {
  display: flex;
  flex: 1;
  padding: 10%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body{
  background-color: #a5e0dd;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}