
                body{
                  background-color: #a5e0dd;
                }
                div.title {
                  justify-content: center;
                  display: flex;
                  flex: 4;
                  background-color:lightseagreen;
                  padding: 20px;
                  font-size: 50px;
                  color: ivory;
                }
                div.icon {
                  justify-content: center;
                  align-items: center;
                  display: flex;
                  flex: 1;
                  background-color:lightseagreen;
                }
                div.container{
                  display: flex;
                  flex: 1;
                  padding-bottom: 25px;
                }
                div.followContainer{
                  display: flex;
                  flex: 1;
                  border-width: 2px;
                  justify-content: center;
                  align-items: center;
                  background-color:lightseagreen;
                }
                div.follow {
                  padding: 15px 25px;
                  background-color: lightcoral;
                }
                div.aboutContainer{
                  display: flex;
                  flex: 2;
                  border-width: 2px;
                  justify-content: center;
                  align-items: center;
                  background-color:lightseagreen;
                }
                div.about {
                  padding: 15px 25px;
                  background-color: lightcoral;
                }
                div.back {
                  padding: 15px 25px;
                  background-color: lightcoral;
                }
                div.images {
                  padding-top: 25px;
                  padding-bottom: 25px;
                  display: flex;
                  flex: 1;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  flex-direction: row;
                }
                img {
                  border: solid black; 
                  width: 470px; 
                  border-radius: 100px;
                }
                a:link, a:visited, a:hover, a:active {
                  text-decoration: none;
                }
                body div.icon img {
                  width: 100px;
                  height: 100px;
                  border-width: 0px;
                }
