div.backContainer{
    display: flex;
    flex: 1;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    background-color:#00BFFF;
  } 
  div.back {
    padding: 15px 25px;
    background-color: lightcoral;
    text-decoration: none;
  }   
  div.icon {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    background-color:#00BFFF;
  }
  div.title {
    justify-content: center;
    display: flex;
    flex: 4;
    background-color:#00BFFF;
    padding: 20px;
    font-size: 50px;
    color: ivory;
  }
  div.container{
    display: flex;
    flex: 1;
    padding-bottom: 25px;
  }
  div.bodyContainer {
    display: flex;
    flex: 1;
 }
 div.slidesContainer {
    display: flex;
    flex: 4;
    padding-top: 8%;
    padding-bottom: 8%;
    justify-content: center;
    align-items: center;
 }
 div.leftArrow {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
 div.rightArrow {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
 }
  body{
    background-color: #7B68EE;
  }
  body div.slidesContainer img {
    max-width: 100%;
  } 

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }